// # Colours palette
$alabaster: #f8f8f8;
$pale-slate: #bcbbbc;
$scorpion: #5d5c5d;
$deep-cove: #051745;
$daisy-bush: #351ba2;
$purple-hearth: #8532e6;
$yellow-orange: #ffa837;
$science-blu: #0369d7;
$jade: #02ca6b;
$java: #19d5e3;

$lucky-point: #1a236c;
$concrete: #f3f3f3;
$victoria: #5b4792;
$regent-gray: #818e9d;
$di-serria: #dd9f4d;

$purple-hearth-vibrant: #5926c0;
$scorpion-muted: #5a5759;
$jackson-purple: #2a1999;
$milibrook: #594035;
$tulip-tree: #eca447;
